<launch>

	<node 
		name="cartographer_node" 
		pkg="cartographer_ros"
		type="cartographer_node" 
		args="-configuration_directory /home/paul/SLAM/cartographer -configuration_basename emox_2d.lua" 
		output="screen">
     	<remap from="scan" to="/scan" />
     	<remap from="odom" to="/odom" />
     	<remap from="tf" to="/tf" />

	</node>

	<node 
		name="cartographer_occupancy_grid_node" 
		pkg="cartographer_ros"
		type="cartographer_occupancy_grid_node" />

	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d /home/paul/SLAM/cartographer/emox_2d.rviz" />

<node pkg="rosbag" type="play" name="player" output="screen" args="--clock
   /media/data/SLAM/trajectoire4_4_buggy_4.bag -r 1" />
</launch>
